* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

nav {
  width: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px auto;

  position: absolute;
  z-index: 1;
  left: 50%;
  transform: translate(-50%, 0);
}

nav a {
  background-color: #00a584;
  padding: 10px 14px;
  border-radius: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

a:link,
a:active,
a:visited,
a:focus {
  color: white;
}

main {
  background-color: blue;
  position: absolute;
  top: 0;
  height: 100vh;
}

main img {
  position: absolute;
}

/*///////////////////// SECTION //////////////////*/

.project-sec {
  position: relative;
  /* height: 300px; */
  background-color: #003329;
  padding: 16px 0;
  overflow: hidden;
}

h2 {
  color: white;
  text-transform: uppercase;
  font-size: 70px;
  font-weight: 700;
  text-align: center;
  height: 80px;

  animation-name: breathing;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes breathing {
  to {
    font-size: 80px;
  }
}

/* //////////// PROJECT IMAGE ////////// */

.project-img {
  position: relative;
  width: 1300px;
  height: 600px;
  margin: 10px auto;
  overflow: hidden;
}

.project-list .project-cart {
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0 0 0 0;
}

.project-cart img {
  width: 100%;
  height: 100%;
}

/* product details */

.product-details {
  position: absolute;
  top: 15%;
  left: 35%;
}

.product-details a {
  font-size: 26px;
  background-color: #009476;
  color: white;
  text-decoration: none;
  padding: 8px 12px;
}

.product-details a:link,
.product-details a:visited {
  color: white;
}

/*///////// THUMNAIL //////////*/

.project-thumnail {
  background-color: red;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  position: absolute;
  top: 58%;
  right: 1%;
}

.pro-thum-card {
  border-radius: 5%;
  overflow: hidden;
  z-index: 20;
  width: 120px;
  height: 180px;
}

.pro-thum-card img {
  position: relative;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.arrow {
  color: white;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow p {
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

/* Animation */

.project-img .project-list .project-cart:nth-child(1) {
  z-index: 1;
}

.project-img .project-list .project-cart .product-details a {
  animation-name: showcontent;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  opacity: 0;
}

.project-img .project-list .project-cart .product-details a {
  animation-delay: 0.5s !important;
}

@keyframes showcontent {
  from {
    transform: translateY(50px);
    filter: blur(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    filter: blur(0px);
    opacity: 1;
  }
}

/* NEXT CLICK ANIMATION */

.project-img.next .project-list .project-cart {
  width: 120px;
  height: 180px;
  top: 58%;
  left: 37.5%;
  animation: showImage 0.5s linear 1 forwards;
}

@keyframes showImage {
  to {
    width: 100%;
    height: 100%;
    inset: 0 0 0 0;
  }
}

/* THUMNAIL */

.project-img.next .project-thumnail .pro-thum-card:nth-last-child(1) {
  overflow: hidden;
  animation: showThumbnail 0.5s linear forwards;
}

@keyframes showThumbnail {
  from {
    width: 0;
    opacity: 0;
  }
}
.project-img.next .project-thumnail .pro-thum-card:nth-child(1) {
  animation: fsThumbnail 0.5s linear forwards;
}

@keyframes fsThumbnail {
  from {
    opacity: 0;
  }
}

/* TEXT EFFECT */

.text {
  margin-top: 20px;
  position: relative;
}

.text span {
  color: white;
}

.texteffect {
  position: relative;
  color: blue;
}

.texteffect::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #003329;
  border-left: 1px solid white;

  animation: texteffect 4s steps(16) infinite alternate;
}

@keyframes texteffect {
  50% {
    left: 100%;
  }
  100% {
    left: 0;
  }
}
